$success: #3c8dbc;
$error: #d9534f ;
$full: #fff ;

.button {
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 14px;
  display: inline-block;
  outline: none;
  line-height: 20px;
  margin-right: 20px;
  margin-top: 20px;
  user-select: none;

  &.success {
    background-color: $success;
    color: white;
    border: hidden;
    &:hover {
      background-color: saturate($success, 15%);
    }
    &:focus{
      background-color: desaturate($success, 15%);
    }
  }

  &.error {
    background-color: $error;
    color: white;
    border: hidden;
    &:hover {
      background-color: saturate($error, 15%);
    }
    &:focus{
      background-color: desaturate($error, 15%);
    }
  }

  &.full {
    background-color: $full;
    color: #4d4d4d;
    border: 1px solid #d4d4d4;
    &:hover {
      background-color: #e9e9e9;
    }
    &:focus{
      background-color: desaturate($full, 15%);
    }
  }
}
