.check-group {
  color: #2992cf;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  line-height: 5px;
  user-select: none;
  margin-top: 5px;

  .check-name {
    display: inline-block;
    color: #4d4d4d;
    font-size: 12px;
    margin: 5px;
  }

  svg {
    position: relative;
    top: 3px;
  }

}
